* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --font-size: tahoma;
  --color: #fff;
  --color2: green;
}
html {
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url(../img/portfolio/backgrounds/01.png);
}
.content {
  color: #fff;
  position: relative;
  margin: 20px;
}
.header h1 {
  display: inline-block;
}
.header h1 a {
  text-decoration: none;
  color: #fff;
  font-family: tahoma;
  word-spacing: 10px;
  margin-bottom: 20px;
  font-size: 60px;
}

.header p {
  font-family: var(--font-size);
  font-size: 25px;
  margin-bottom: 10px;
  color: var(--color2);
}
.header input[type="search"] {
  width: 300px;

  height: 30px;
  border-radius: 10px;
  padding: 5px;
  margin-top: -50px;
  margin-bottom: 10px;
}
.header button {
  font-size: 20px;
  width: 100px;
  margin-bottom: 30px;
  border-radius: 10px;
}
.header {
  background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7));
  color: var(--color);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.header .mnu ul {
  margin-top: -20px;
  margin-left: 10px;
}

.header .mnu ul li {
  list-style: none;
  margin: 5px;
  border: 1px solid rgb(25, 160, 25);
  border-radius: 10px;
  display: inline-block;
  width: 150px;
  background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7));
  opacity: 0.5;
}
.header .mnu ul li:hover {
  opacity: 1;
  transform: scale(1.2, 1.2);
}

.header .mnu ul li a {
  text-decoration: none;
  color: var(--color);
  font-size: 20px;
}

.content {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
.prodect {
  width: 210px;
  background-image: url(../img/portfolio/06-small.jpg);
  background-size: 100% 100%;
  height: 200px;
  margin: 0px 59px;
  position: relative;
}
.content .body .prodect {
  display: inline-block;
  margin-left: 10px;
  border: 1px solid #000;
  margin-bottom: 20px;
  border-radius: 10px;
  opacity: 0.9;
}
.content .body .prodect:hover {
  opacity: 1;

  transform: scale(1.5, 1.5);
  z-index: 23;
}

.body {
  margin-left: 30px;
}
.body .prodect span {
  margin-left: -20px;
  position: absolute;
  color: var(--color);
  font-size: 23px;
  padding: 7px;
  width: calc(100% + 40px);
  background-color: green;
  margin-top: 25px;
  text-align: center;
}
.body .prodect span::before {
  content: " ";
  border-color: transparent rgb(0 80 0) rgb(0 80 0) transparent;
  z-index: -1;
  border-width: 10px;
  border-style: solid;
  position: absolute;
  margin-top: -26px;
  margin-left: -28px;
}
.body .prodect span::after {
  content: " ";
  border-color: rgb(0 80 0) transparent transparent rgb(0 80 0);
  z-index: -13;
  border-width: 10px;
  border-style: solid;
  position: absolute;
  margin-top: 33px;
  margin-left: 8px;
}
.body .prodect p {
  text-align: center;
  position: absolute;
  margin-top: 100px;
  width: 200px;
  font-size: 17px;
  line-height: 20px;
  word-spacing: 1px;
  cursor: context-menu;
  color: #000;
  padding: 2px;
}

footer {
  background-image: linear-gradient(rgb(0, 0, 0, 1), rgb(0, 0, 0, 1));
  color: var(--color);
  text-align: center;
  height: 40px;
  padding: 10px;
}

.content .body .prodect:nth-child(1) {
  background-image: url(../img/portfolio/imgl.gif);
}
.content .body .prodect:nth-child(3) {
  background-image: url(../img/portfolio/07-large.jpg);
}
.content .body .prodect:nth-child(4) {
  background-image: url(../img/portfolio/gallery/01.png);
}
.content .body .prodect:nth-child(5) {
  background-image: url(../img/portfolio/avatar.png);
}
.content .body .prodect:nth-child(6) {
  background-image: url(../img/portfolio/about.jpg);
}
.content .body .prodect:nth-child(7) {
  background-image: url(../img/portfolio/348x394.png);
}
.content .body .prodect:nth-child(8) {
  background-image: url(../img/portfolio/348x261.png);
}
.content .body .prodect:nth-child(9) {
  background-image: url(../img/portfolio/12-small.jpg);
}
.content .body .prodect:nth-child(10) {
  background-image: url(../img/portfolio/12-large.jpg);
}
.content .body .prodect:nth-child(11) {
  background-image: url(../img/portfolio/11-small.jpg);
}
.content .body .prodect:nth-child(12) {
  background-image: url(../img/portfolio/11-large.jpg);
}
.content .body .prodect:nth-child(13) {
  background-image: url(../img/portfolio/intro-bg.jpg);
}
.content .body .prodect:nth-child(2) {
  background-image: url(../img/portfolio/06-small.jpg);
}

.show {
  color: var(--color);
  text-align: center;
  font-size: 25px;
}
.show p {
  display: inline-block;
  margin: 4px;
  color: green;
}
.show a {
  font-size: 70px;

  width: 10px;
}
.show a {
  text-decoration: none;
  color: #fff;
}
.show p a {
  color: green;
  background-color: transparent;
  border: none;
}

.show .hi {
  color: green;
  font-size: 100px;
}
